name: "CI"
on:
  push:
    branches: "*"
  pull_request:
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v6

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Setup dummy keystore
        run: |
          keytool -genkey -keystore upload-keystore.jks -keyalg RSA -keysize 2048 -validity 10000 -alias upload -dname "cn=Unknown, ou=Unknown, o=Unknown, c=Unknown" -storepass password -keypass password
          mkdir -p ~/.gradle
          cp gradle_properties_keystore.sample ~/.gradle/gradle.properties

      - name: "Build"
        run: |
          ./gradlew build
